In [2]:
print("hello")

hello

In [12]:
print("add", 4+4,)

add 8

In [13]:
9+6

15

In [16]:
car = 40
driver = 10
free_car = car - driver

print("we have total no. of", car,"cars")
print("we have", driver,)
print("The total no.", free_car,"free cars")

we have total no. of 40 cars
we have 10
The total no. 30 free cars

In [22]:
print("we have tot", "al no. of", car, driver)

we have total no. of 40 10

In [27]:
print("we have tot" + "al no. of" +car , driver)

TypeError: can only concatenate str (not "int") to str

In [28]:
"a"+"b"

'ab'

In [29]:
2+3

5

In [32]:
"a"+'1'

'a1'

In [34]:
x = 1
print(x+10)
'Value of x:' + str(x)

11

'Value of x:1'

In [37]:
"hi #my name is " #my name is

'hi #my name is '

In [50]:
print("vasu",100 - 25 * 3 % 4)

vasu 97

In [51]:
3+2+1-5+4%2-1/4+6

6.75

In [52]:
1/4

0.25

In [53]:
3+2<5-7

False

In [54]:
f = 4.0
type(f)

float

In [55]:
f = 4
type(f)

int

In [56]:
f = "4"
type(f)

str

In [59]:
f = 4/3
print(f)
type (f)

1.3333333333333333

float

In [67]:
a = 4
b = 5
a = b
a

5

In [74]:
a = 4
b = 4.0
a == b  # a is converted to fload for comparison

True

In [76]:
# To check value and datatype both
a = 4
b = 4.0
(a == b) and type(a) == type(b)

False

In [77]:
a = 4
b = 4
(a == b) and type(a) == type(b)

True

In [80]:
print("Hey%sthere." % "you")

Heyyouthere.

In [85]:
my_name = 'Zed A. Shaw'
my_age = 35 
print ("Let's talk about %s." % my_name)

SyntaxError: invalid syntax (<ipython-input-85-04cf9ace9842>, line 2)

In [83]:
print (1 %s % my_name)

NameError: name 's' is not defined

In [95]:
print ("ads%s"%my_name)

adsZed A. Shaw

In [99]:
my_height = 74.12
print ("He's %f inches tall." % my_height)

He's 74.120000 inches tall.

In [109]:
my_eyes = 'Blue'
my_age= 35
my_height = 74 # inches
my_weight = 180
my_teeth = 'White'
my_hair = 'Brown'
print ("He's got %s eyes and %s hair." % (my_eyes, my_hair))

He's got Blue eyes and Brown hair.

In [113]:
print("If I add %r,%d,and%dIget%d."%(
my_age, my_height, my_weight, my_age + my_height + my_weight))

If I add 35,74,and180Iget289.

In [119]:
x = 'asdf'
print("a %r%r" % (3, x))

a 3'asdf'

In [121]:
round(1.2333)

1

In [125]:
True
type(True)

bool

In [133]:
hilarious = False
joke_evaluation = "Isn't that joke so funny?! %s"
print (joke_evaluation % hilarious)

Isn't that joke so funny?! False

In [135]:
print ("." * 10) # what'd that do?

..........

In [137]:
'.'+'.'

'..'

In [138]:
'abc'*10

'abcabcabcabcabcabcabcabcabcabc'

In [140]:
'a'"b""c" * 3 + 'a'

'abcabcabca'

In [145]:
print("""
10 There's something going on here.
11 With the three double-quotes.
12 We'll be able to type as much as we like.
13 Even4linesifwewant,or5,or6.
line 5
line 6
14 """)

10 There's something going on here.
11 With the three double-quotes.
12 We'll be able to type as much as we like.
13 Even4linesifwewant,or5,or6.
line 5
line 6
14

In [142]:
print("
10 There's something going on here.
11 With the three double-quotes.
12 We'll be able to type as much as we like.
13 Even4linesifwewant,or5,or6.
14 ")

SyntaxError: EOL while scanning string literal (<ipython-input-142-4be04ad0600d>, line 1)

In [147]:
tabby_cat = "\tI'm tabbed in."
print (tabby_cat)

	I'm tabbed in.

In [148]:
persian_cat = "I'm split\non a line."
print (persian_cat)

I'm split
on a line.

In [149]:
backslash_cat = "I'm \\ a \\ cat."
print (backslash_cat)

I'm \ a \ cat.

In [156]:
fat_cat = """
I'll do a list:
\t* Cat food
\t* Fishies
\t* Catnip\n\t* Grass
"""
print (fat_cat)

I'll do a list:
	* Cat food
	* Fishies
	* Catnip
	* Grass

In [159]:
x = input("input x: ")

input x: 22

In [160]:
x

'22'

In [166]:
a = 1
b = 2

if (a > b):
    print("a is greater")    
print('new line')

new line

In [173]:
a = 2
b = 2

if (a > b):
    print("a is greater")
elif b>a:
    print("b is greater")
else:
    print("both are equal")

both are equal

In [174]:
if (True):
    print("this is true")

this is true

In [175]:
if ('z' in 'zebra'):
    print('this is zebra')

this is zebra

In [176]:
'z' in 'zebra'

True

In [187]:
print(1 > 2)
print(1 < 2)
print(2 == 2)
print(1 >= 2)
print(1 <= 2)
print(True and True)
print(True and False)
print(True or False)
print(False and False)
print(False or True)
print(True or True)
print(False or False)
print(False and True)

False
True
True
False
True
True
False
True
False
True
True
False
False

In [192]:
the_count = [1, 2, 3, 4, 5]
print(the_count[3])
print(the_count[-1])

4
5

In [193]:
len([1,2,3,4])

4

In [194]:
len('vasu')

4

In [195]:
len(the_count)

5

In [198]:
type(the_count)

list

In [199]:
change = [1, 'pennies', 2, 'dimes', 3, 'quarters']

In [200]:
type(change)

list

In [201]:
print(change)

[1, 'pennies', 2, 'dimes', 3, 'quarters']

In [204]:
change[0]
type(change[0])

int

In [205]:
change[1]
type(change[1])

str

In [209]:
l = ["ans",1,1.222,True,[1,2,3],the_count,]
print(l)

['ans', 1, 1.222, True, [1, 2, 3], [1, 2, 3, 4, 5]]

In [210]:
print('ans', 1)

ans 1

In [216]:
def my_print(my_list):
    for e in my_list:
        print(e, end=", ")

In [217]:
my_print(l)

ans, 1, 1.222, True, [1, 2, 3], [1, 2, 3, 4, 5],

In [218]:
the_count

[1, 2, 3, 4, 5]

In [227]:
for x in l:
    print("this is count %r" % x)

this is count 'ans'
this is count 1
this is count 1.222
this is count True
this is count [1, 2, 3]
this is count [1, 2, 3, 4, 5]

In [231]:
type(range(0, 6))

range

In [237]:
for i in range(9,6, -1):
    print(i)

9
8
7

In [241]:
elements = []
for i in range(9,6, -1):
    elements.append(i)
    print(elements)

[9]
[9, 8]
[9, 8, 7]

In [242]:
def add(a,b):
    sum = a+b
    return sum

In [ ]:
x = add(3,4)
def mul(a,b):
    mul =a*b
    return mul
y= mul(4,3)
print(x*y)

In [246]:
12*7

84

In [271]:
from sys import exit 
def gold_room():
    print("This room is full of gold. How much do you take?")
    next = input("> ")
    print('"0" in next: ', "0" in next)
    print('"1" in next: ', "1" in next)
    if "0" in next or "1" in next:
        how_much = int(next) 
    else:
        dead("Man, learn to type a number.")
    
    if how_much < 50:
        print("Nice, you're not greedy, you win!")
        return
    else:
        dead("You greedy bastard!")
            
def dead(why):
    print(why, "Good job!")
    return
gold_room()

This room is full of gold. How much do you take?
> 601
"0" in next:  True
"1" in next:  True
You greedy bastard! Good job!

In [ ]:
def bear_room():
    print ("There is a bear here.")
    print ("The bear has a bunch of honey.")
    print ("The fat bear is in front of another door.")
    print ("How are you going to move the bear?") 
bear_moved = False
while True:
    next = input("> ")
    break
    if next == "take honey":
        dead("The bear looks at you then slaps your face off.")
    elif next == "taunt bear" and not bear_moved:
        print ("The bear has moved from the door. You can go through it now.")
        bear_moved = True
    elif next == "taunt bear" and bear_moved:
        dead("The bear gets pissed off and chews your leg off.")
    elif next == "open door" and bear_moved: 
        gold_room()
    else:
        print ("I got no idea what that means.")

In [ ]:
def cthulhu_room():
    print("Here you see the great evil Cthulhu.")
    print("He, it, whatever stares at you and you go insane.") 
    print("Do you flee for your life or eat your head?")
next = input("> ")
if "flee" in next: 
    start()
elif "head" in next:
    dead("Well that was tasty!")
else: cthulhu_room()
def dead(why):
    print(why, "Good job!") 
return
def start():
    print("You are in a dark room.")
    print("There is a door to your right and left.")
    print ("Which one do you take?")
next = input("> ")
if next == "left": 
    bear_room()
elif next == "right": 
    cthulhu_room()
else:
    dead("You stumble around the room until you starve.")
start()

#  Q Write a Python function to find the Max of three numbers

In [2]:
def maximum(a, b, c): 
  
    if (a >= b) and (a >= b): 
        largest = a 
  
    elif (b >= a) and (b >= a): 
        largest = b 
    else: 
        largest = c 
          
    return largest

In [3]:
assert sum_of_list([-1,0,1]) == 0
assert sum_of_list([]) == 0
assert sum_of_list([1,10,100]) == 111

NameError: name 'sum_of_list' is not defined